/* font-family: 'Bellota', cursive;
font-family: 'Tenali Ramakrishna', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* will choose a google font later */
body{
    font-family: sans-serif;
 
}

header{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
}

header h1{
    padding: 2rem;
    font-family: 'Bellota', cursive;
    /* font-size: 5rem; */
    line-height: 100%;
    word-spacing: 5px;
  
}

#logo{
    text-decoration: none;
    color: #9C528B;
}

.search-form{
    padding: 2rem;
    display: flex;
}

.search-form input{
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border: 1px solid #E2C2C6;
    border-radius: 15px;
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.search-form button{
    border: none;
    padding: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    border: 1px solid #E2C2C6;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    color: #9C528B;
}

input:hover{
    border: 1px solid #E2C2C6;
    border-radius: 15px;
}

input:active{
    border: 1px solid #E2C2C6;
    border-radius: 15px;
}

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img{
    width: 300px;
    height: 300px;
    border: 3px solid #B9929F;
}

p{
    color: #9C528B;
    display: inline-block;
    font-family: 'Tenali Ramakrishna', sans-serif;
}

#spacing{
    margin: 10px;
}

a{
    text-decoration: none;

    
}

.nav-button{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#more{
    padding: 1rem 3rem;
    background-color: white;
    color: #9C528B;
    border: 1px solid #E2C2C6;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

#photograph-info{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

i{
    color: #E2C2C6;
    font-size: 1.2rem;
}

button{
    font-family: 'Tenali Ramakrishna', sans-serif;
}

@media screen and (max-width: 628px){
    header h1{
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 630px){
    header h1{
        font-size: 3.4rem;
    }
}

@media screen and (min-width: 800px){
    header h1{
        font-size: 5rem;
    }
}